@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @layer components {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@layer base {
  body {
    @apply bg-[#E1DBD6];
    @apply w-full;
  }

  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }
}
